################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
**/bin/
**/obj/
/AppIconImageSources
/HalationGhost.Utilities/bin/Debug/net10.0
/HalationGhost.Utilities/obj
/HalationGhost.Wpf.Ui/bin/Debug/net10.0-windows
/HalationGhost.Wpf.Ui/obj
/MangaBinder/bin/Debug/net10.0-windows
/MangaBinder/obj
/MangaBinder/template.db
/MangaBinder.Core/bin/Debug
/MangaBinder.Core/obj
/MangaBinder.Sandbox/bin/Debug/net10.0-windows
/MangaBinder.Sandbox/obj
/MangaBinder.Services/bin/Debug/net10.0-windows
/MangaBinder.Services/obj
/MangaBinder.Shared/bin/Debug/net10.0
/MangaBinder.Shared/obj
/MangaBinder.Shared.Services/bin/Debug/net10.0
/MangaBinder.Shared.Services/obj
/MangaBinder.Worker/obj
/MangaBinder.Worker.Core/bin/Debug/net10.0
/MangaBinder.Worker.Core/obj
/MangaBinder.Worker.Sandbox/bin/Debug/net10.0-windows
/MangaBinder.Worker.Sandbox/obj
/MangaBinder.Worker.Sandbox/google-books-settings.sandbox.json
/MangaBinder.Worker.Services/bin/Debug
/MangaBinder.Worker.Services/obj
/MangaBinder/google-books-settings.json
/MangaBinder.Shared.Tests/bin/Debug/net10.0/HalationGhost.Utilities.dll
/MangaBinder.Shared.Tests/bin/Debug/net10.0/HalationGhost.Utilities.pdb
/MangaBinder.Shared.Tests/bin/Debug/net10.0/MangaBinder.Shared.dll
/MangaBinder.Shared.Tests/bin/Debug/net10.0/MangaBinder.Shared.pdb
/MangaBinder.Shared.Tests/bin/Debug/net10.0/MangaBinder.Shared.Tests.dll
/MangaBinder.Shared.Tests/bin/Debug/net10.0/MangaBinder.Shared.Tests.pdb
/MangaBinder.Shared.Tests/obj/Debug/net10.0/ref/MangaBinder.Shared.Tests.dll
/MangaBinder.Shared.Tests/obj/Debug/net10.0/refint/MangaBinder.Shared.Tests.dll
/MangaBinder.Shared.Tests/obj/Debug/net10.0/MangaBinder.Shared.Tests.AssemblyInfo.cs
/MangaBinder.Shared.Tests/obj/Debug/net10.0/MangaBinder.Shared.Tests.AssemblyInfoInputs.cache
/MangaBinder.Shared.Tests/obj/Debug/net10.0/MangaBinder.Shared.Tests.csproj.AssemblyReference.cache
/MangaBinder.Shared.Tests/obj/Debug/net10.0/MangaBinder.Shared.Tests.csproj.BuildWithSkipAnalyzers
/MangaBinder.Shared.Tests/obj/Debug/net10.0/MangaBinder.Shared.Tests.csproj.CoreCompileInputs.cache
/MangaBinder.Shared.Tests/obj/Debug/net10.0/MangaBinder.Shared.Tests.dll
/MangaBinder.Shared.Tests/obj/Debug/net10.0/MangaBinder.Shared.Tests.pdb
/MangaBinder.Shared.Tests/obj/Debug/net10.0/MangaBinder.Shared.Tests.sourcelink.json
