################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/AppIconImageSources
/HalationGhost.Utilities/bin/Debug/net10.0
/HalationGhost.Utilities/obj
/HalationGhost.Wpf.Ui/bin/Debug/net10.0-windows
/HalationGhost.Wpf.Ui/obj
/MangaBinder/bin/Debug/net10.0-windows
/MangaBinder/obj
/MangaBinder/template.db
/MangaBinder.Core/bin/Debug
/MangaBinder.Core/obj
/MangaBinder.Sandbox/bin/Debug/net10.0-windows
/MangaBinder.Sandbox/obj
/MangaBinder.Services/bin/Debug/net10.0-windows
/MangaBinder.Services/obj
/MangaBinder.Shared/bin/Debug/net10.0
/MangaBinder.Shared/obj
/MangaBinder.Shared.Services/bin/Debug/net10.0
/MangaBinder.Shared.Services/obj
/MangaBinder.Worker/obj
/MangaBinder.Worker.Core/bin/Debug/net10.0
/MangaBinder.Worker.Core/obj
/MangaBinder.Worker.Sandbox/bin/Debug/net10.0-windows
/MangaBinder.Worker.Sandbox/obj
/MangaBinder.Worker.Sandbox/google-books-settings.sandbox.json
/MangaBinder.Worker.Services/bin/Debug
/MangaBinder.Worker.Services/obj
/MangaBinder/google-books-settings.json
